<!DOCTYPE html>
<html>
<head>
<meta charset='utf-8' />
<link href='../lib/main.css' rel='stylesheet' />
<script src='../lib/main.js'></script>
<script>

  document.addEventListener('DOMContentLoaded', function() {

    var calendarEl = document.getElementById('calendar');

    var calendar = new FullCalendar.Calendar(calendarEl, {
      locale: 'ja',
      nowIndicator: true,
      selectable: true,
      selectHelper: true,
      selectMinDistance: 1,

      select: function(start, end) {
        var title = prompt("詳細：");
        var eventData;
        if (title) {
          eventData = {
            title: title,
            start: start,
            end: end
          };
          // $("#calendar").fullCalendar("renderEvent", eventData, true);
        }
        // $("#calendar").fullCalendar("unselect");
      },

      eventRender: function(event, element) {
        element
          .find(".fc-content")
          .prepend("<span class='closeon material-icons'>&#xe5cd;</span>");
        element.find(".closeon").on("click", function() {
          $("#calendar").fullCalendar("removeEvents", event._id);
        });
      },

      // eventClick: function(calEvent, jsEvent, view) {
      // alert('イベント編集')
      // },

      // eventClick: function(event) {
      // //console.dir(event); オブジェクトの中身をチェック。
      // var title = prompt('予定を更新してください:');
      // if(title && title!=""){
      // event.title = title;
      // //イベント（予定）の修正
      // $('#calendar').fullCalendar('updateEvent', event);
      // }else{
      // //イベント（予定）の削除  idを指定して削除。
      // $('#calendar').fullCalendar("removeEvents", event.id);
      // }
      // },

      // 祝日表示（失敗）

      // eventSources: [
      //     {
      //         url: '/events',
      //     },
      //     {
      //         url: '/holiday',
      //         className: 'holiday',
      //     }
      // ],
      //
      // eventRender: function(event, eventElement) {
      //     if (event.source.className == "holiday"){
      //         //祝日データを表示
      //         jQuery('.fc-day-top[data-date=' + event.start._i + ']').prepend("<span class='holiday-text'>" + event.title + "</span>");
      //         //内容は表示しない
      //         return false;
      //     }
      // },

      //now: '2020-09-07',
      editable: true,
      aspectRatio: 1.8,
      scrollTime: '00:00',
      headerToolbar: {
        left: 'today prev,next',
        center: 'title',
        right: 'resourceTimelineDay,resourceTimelineWeek,resourceTimelineMonth,resourceTimelineYear'
      },
      initialView: 'resourceTimelineDay',
      views: {
        resourceTimelineDay: {
          buttonText: 'day',
          slotDuration: '00:15'
        },
        resourceTimelineWeek: {
          type: 'resourceTimeline',
          duration: { days: 7 },
          buttonText: 'week'
        },
        // resourceTimelineMonth: {
        //   type: 'resourceTimeline',
        //   duration: { months: 1 },
        //   buttonText: 'month2'
        // },
      },

      businessHours: {
      // days of week. an array of zero-based day of week integers (0=Sunday)
      daysOfWeek: [ 1, 2, 3, 4, 5 ], // Monday - Friday

      startTime: '10:00', // a start time (10am in this example)
      endTime: '19:00', // an end time (6pm in this example)
      },

      navLinks: true,
      resourceAreaWidth: '25%',
      resourceAreaHeaderContent: 'タスクタイトル',
      resources: [
        { id: 'a', title: 'ルーティンタスク', eventColor: 'green' },
        { id: 'b', title: 'セールス資料改訂1', eventColor: 'green' },
        { id: 'c', title: 'セールス資料改訂2', eventColor: 'orange' },
        { id: 'd', title: '出張', children: [
          { id: 'd1', title: '移動' },
          { id: 'd2', title: 'プレゼンテーション' }
        ] },
        { id: 'e', title: 'セールス資料改訂3' },
        { id: 'f', title: 'セールス資料改訂4', eventColor: 'red' },
      ],
      events: [
        { id: '1', resourceId: 'b', start: '2021-09-07T02:15:00', end: '2021-09-07T07:00:00', title: 'プロジェクトAの営業資料を頑張って作成する', url: 'https://www.google.com' },
        { id: '2', resourceId: 'c', start: '2021-09-07T05:00:00', end: '2021-09-07T22:00:00', title: 'プロジェクトBの営業資料を頑張って作成する', url: 'https://www.google.com' },
        { id: '3', resourceId: 'd', start: '2021-09-06', end: '2021-09-08', title: '大阪に出張する', url: 'https://www.google.com' },
        { id: '4', resourceId: 'e', start: '2021-09-07T03:00:00', end: '2021-09-07T08:00:00', title: 'プロジェクトCの営業資料を頑張って作成する', url: 'https://www.google.com' },
        { id: '5', resourceId: 'f', start: '2021-09-07T00:30:00', end: '2021-09-07T02:30:00', title: 'プロジェクトDの営業資料を頑張って作成する', url: 'https://www.google.com' },
        { id: '6', resourceId: 'a',
          title:"月曜日と木曜日に繰り返し行うタスク",
          startTime: '10:00', // a start time (10am in this example)
          endTime: '14:00', // an end time (2pm in this example)
          daysOfWeek: [ 1, 4 ] // Repeat monday and thursday
        },
      ]
      // eventSources: [
      //   {
      //       url: '/events',
      //   },
      //   {
      //       url: '/holiday',
      //       className: 'holiday',
      //   }
      // ],
    });

    calendar.render();
  });

</script>
<style>

  body {
    margin: 0;
    padding: 0;
    font-family: Arial, Helvetica Neue, Helvetica, sans-serif;
    font-size: 14px;
  }

  #calendar {
    max-width: 1100px;
    margin: 50px auto;
  }

</style>
</head>
<body>

  <div id='calendar'></div>

</body>
</html>
